body {
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
}

.container {
  width: 1440px;
  height: 1024px;
  position: relative;
  background: white;
}

.product-info {
  width: 395px;
  height: 416px;
  left: 77px;
  top: 77px;
  position: absolute;
  background: #edefe4;
  border-radius: 24px;
  overflow: hidden;
  border: 2px #e1e4d9 solid;
}

.product-name {
  left: 24px;
  top: 323px;
  position: absolute;
  color: #141e0c;
  font-size: 16px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  line-height: 20.8px;
  word-wrap: break-word;
}

.product-price {
  left: 265px;
  top: 318px;
  position: absolute;
  text-align: right;
  color: #476730;
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  line-height: 26px;
  word-wrap: break-word;
}

.product-description {
  width: 284px;
  height: 39px;
  left: 24px;
  top: 354px;
  position: absolute;
  color: #74796d;
  font-size: 16px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.product-image {
  width: 316.96px;
  height: 268.42px;
  left: 37px;
  top: 40.42px;
  position: absolute;
}

.product-details {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 17px;
  padding-right: 57px;
  left: 481px;
  top: 69px;
  position: absolute;
  background: #edefe4;
  border-radius: 24px;
  overflow: hidden;
  border: 2px #e1e4d9 solid;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.details-heading {
  color: black;
  font-size: 20px;
  font-family: "Lilita One", cursive;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
}

.details-text {
  color: black;
  font-size: 12px;
  font-family: "Lilita One", cursive;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}

.testimonials {
  padding-top: 6px;
  padding-bottom: 23px;
  padding-left: 14px;
  padding-right: 599px;
  left: 66px;
  top: 517px;
  position: absolute;
  background: #edefe4;
  border-radius: 24px;
  overflow: hidden;
  border: 2px #e1e4d9 solid;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.testimonial-heading {
  color: black;
  font-size: 12px;
  font-family: "Lilita One", cursive;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}

.testimonial-text {
  color: black;
  font-size: 12px;
  font-family: "Lilita One", cursive;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}

.checkout {
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 30px;
  left: 535px;
  top: 772px;
  position: absolute;
  background: #476730;
  border-radius: 999px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 41px;
  display: inline-flex;
}

.checkout-text {
  color: white;
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  line-height: 26px;
  word-wrap: break-word;
}

.checkout-arrow {
  width: 24px;
  height: 24px;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.arrow-line-vertical {
  width: 7px;
  height: 14px;
  border: 2px white solid;
}

.arrow-line-horizontal {
  width: 14px;
  height: 0px;
  border: 2px white solid;
}
