body {
  margin: 0;
  padding: 0;
  font-family: Hanuman;
}

.Desktop3 {
  width: 1440px;
  height: 1024px;
  position: relative;
  background: white;
}

.Frame1 {
  width: 1440px;
  padding-top: 4px;
  left: 0px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.HomePageHeader {
  width: 1440px;
  height: 119px;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.TShirt {
  width: 166px;
  height: 54px;
  color: black;
  font-size: 40px;
  font-family: Irish Grover;
  font-weight: 400;
  word-wrap: break-word;
}

.Contact {
  left: 1123px;
  top: 37px;
  position: absolute;
  color: black;
  font-size: 24px;
  font-weight: 400;
  word-wrap: break-word;
}

.Help {
  left: 1021px;
  top: 38px;
  position: absolute;
  color: black;
  font-size: 24px;
  font-weight: 400;
  word-wrap: break-word;
}

.Button {
  position: absolute;
  border-radius: 30px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.button1 {
  width: 358px;
  padding-top: 18px;
  padding-left: 19px;
  padding-right: 262px;
  left: 90px;
  top: 237px;
  background: rgba(63.85, 151.76, 232.9, 0.5);
}

.EMail {
  color: black;
  font-size: 24px;
  font-weight: 400;
  word-wrap: break-word;
}

.button2 {
  width: 358px;
  padding-top: 18px;
  padding-left: 19px;
  padding-right: 227px;
  left: 90px;
  top: 315px;
  background: rgba(84.61, 106.47, 221.21, 0.5);
}

.Password {
  color: black;
  font-size: 24px;
  font-weight: 400;
  word-wrap: break-word;
}

.button3 {
  width: 358px;
  height: 53px;
  left: 90px;
  top: 393px;
  background: rgba(84.61, 106.47, 221.21, 0.5);
}

.KonfirmasiPassword {
  left: 19px;
  top: 18px;
  position: absolute;
  color: black;
  font-size: 24px;
  font-weight: 400;
  word-wrap: break-word;
}

.Rectangle6 {
  width: 222px;
  height: 66px;
  left: 606px;
  top: 600px;
  position: absolute;
  background: #1136fd;
  border-radius: 40px;
}

.LoginButton {
  width: 65px;
  height: 35px;
  left: 684px;
  top: 615px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.LoginText {
  color: white;
  font-size: 24px;
  font-weight: 400;
  word-wrap: break-word;
}

.Rectangle5 {
  width: 523px;
  height: 343px;
  left: 759px;
  top: 197px;
  position: absolute;
}
